apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: scraping-system
spec:
  selector:
    app: api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer # This makes the service accessible from outside the cluster
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  namespace: scraping-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: sadia2004/scraping-api:latest
        imagePullPolicy: IfNotPresent   
        ports:
        - containerPort: 8000
        env:
        - name: KAFKA_BOOTSTRAP
          value: "host.docker.internal:9092"
        - name: DATABASE_URL
          value: "postgresql://postgres:9042c98a@host.docker.internal:5432/LeadGenerationPro"
