apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
  namespace: scraping-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: sadia2004/scraping-worker:latest
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "1"
            memory: "2Gi"    
        env:       
        - name: KAFKA_BOOTSTRAP
          value: "host.docker.internal:9092"
        - name: DB_HOST
          value: "leadgenerationpro.c6teemao2etw.us-east-1.rds.amazonaws.com" 
        - name: DB_PORT
          value: "5432"
        - name: DB_USER
          value: "postgres" 
        - name: DB_NAME
          value: "postgres" 
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rds-credentials
              key: password
          